@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37 76% 97%;
    --foreground: 222 74% 15%;
    --primary: 222 74% 15%;
    --primary-foreground: 210 40% 98%;
    --secondary: 39 46% 61%;
    --secondary-foreground: 222 74% 15%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::-webkit-scrollbar { width: 6px; }
  ::-webkit-scrollbar-thumb { @apply bg-secondary/50 rounded-full; }
}
